.todo-item {
  display: flex;
}
.header{
align-content: center;
font-size: xx-large;
color: black;
font-family:serif;
font-weight:900;

}

.input{
  background-color: rgb(237, 237, 237);
  border-color: rgb(237, 237, 237);
   border-radius:5px;
   height: 30px;
   width:200px;
 
}

.category{
  background-color: rgb(237, 237, 237);
  border-color: rgb(237, 237, 237);
  border-radius:5px;
  height: 30px;
  width:100px;

}

.button{
  background-color: rgb(179, 51, 243);
  border-radius: 5px;
  color: white;
  font-size: medium;
  border-color:rgb(179, 51, 243) ;
}